// Arrows

  .nextArrow {
    position: absolute;
    top: 50%;
    right: 2%;
    cursor: pointer;
    transition: all ease-in .2s;
    color: #fff;
    width: 50px;
    height: 50px;
    background-image: url("http://cdn.onlinewebfonts.com/svg/img_83190.svg");
    background-size: 100% 100%;
    background-color: rgba(120, 120, 120, 0.7);
    border-radius: 10px;

    &:hover {
      opacity: 0.5;
      transform: scale(1.4);
      transition: all ease-in .2s;
    }
  }

  .backArrow {
    position: absolute;
    top: 50%;
    left: 2%;
    cursor: pointer;
    color: #fff;
    background-color: rgba(120, 120, 120, 0.7);
    border-radius: 10px;
    width: 50px;
    height: 50px;
    background-image: url("http://cdn.onlinewebfonts.com/svg/img_424491.svg");
    background-size: 100% 100%;

    transition: all ease-in .2s;

    &:hover {
      opacity: 0.5;
      transform: scale(1.4);
      transition: all ease-in .2s;
    }
  }