.carousel-button {
	position: absolute;
	width: 15%;
	z-index: 10;
	left: 42.5%;
	bottom: 10%;
	text-align: center;
	font-size: 24px;
	font-family: Cursive;
	color: white;
	border-radius: 10px;
	background-color: rgba(169, 169, 169, 0.2);
}