.checkout {
	width: 100%;
	height: 30%;
	border-bottom: 2px dashed black;
}

	.checkout__photo {
		width: 30%;
		height: 100%;
		margin-left: 5%;
		margin-top: 5%;
		margin-bottom: 2%;
		border-radius: 10px;
	}

	.checkout__price {
		font-size: 1.2em;
		font-family: "Futura";
		margin-left: 5%;
	}

	.checkout__title {
		font-size: 1.2em;
		font-family: "Futura";
		margin-left: 5%;
		margin-top: 2%;
	}
