html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #e6e6e6; }

.gallery {
  width: 70vw;
  max-width: 300px;
  display: flex;
  margin: 0 auto; }

.gallery__title {
  font-family: cursive;
  text-align: center; }

.gallery__image {
  width: 70vw;
  max-width: 300px;
  height: 60vw;
  max-height: 300px;
  border: 3px solid black;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 20px; }

@media (min-width: 640px) {
  .gallery {
    width: 80vw;
    max-width: 500px;
    margin: 0 auto; }

  .gallery__image {
    width: 35vw;
    height: 30vw;
    margin: 10px; } }
@media (min-width: 768px) {
  .gallery {
    width: 100vw;
    max-width: 660px;
    margin-top: 50px; }

  .gallery__image {
    width: 25vw;
    height: 20vw;
    margin: 10px; } }
@media (min-width: 860px) {
  .gallery {
    width: 100vw;
    max-width: 860px;
    margin-top: 50px; }

  .gallery__image {
    width: 25vw;
    height: 20vw;
    margin: 10px; } }
@media (min-width: 1025px) {
  .gallery {
    width: 100%;
    max-width: 980px; }

  .gallery__image {
    width: 25vw;
    height: 20vw;
    margin: 10px; } }
.nextArrow {
  position: absolute;
  top: 50%;
  right: 5%;
  cursor: pointer;
  transition: all ease-in .2s;
  color: #fff;
  width: 50px;
  height: 50px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/8d/Right_curve_arrow_double_back_-_black.svg");
  background-size: 100% 100%; }
  .nextArrow:hover {
    opacity: 0.5;
    transform: scale(1.4);
    transition: all ease-in .2s; }

.backArrow {
  position: absolute;
  top: 50%;
  left: 5%;
  cursor: pointer;
  color: #fff;
  width: 50px;
  height: 50px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/77/Left_curve_arrow_double_back_-_black.svg");
  background-size: 100% 100%;
  transition: all ease-in .2s; }
  .backArrow:hover {
    opacity: 0.5;
    transform: scale(1.4);
    transition: all ease-in .2s; }

.carousel-button {
  position: absolute;
  width: 25%;
  z-index: 10;
  left: 37.5%;
  bottom: 10%;
  text-align: center;
  font-size: 24px;
  font-family: Cursive;
  border-radius: 10px;
  color: #e6e6e6;
  background-color: rgba(120, 120, 120, 0.7); }

.shopping-cart {
  position: absolute;
  z-index: 10;
  top: 0.5%;
  right: 2%;
  width: 10vw;
  height: 10vw;
  background-image: url("https://image.flaticon.com/icons/svg/60/60992.svg");
  background-size: cover;
  background-repeat: no-repeat; }

.item-total {
  position: absolute;
  z-index: 11;
  color: white;
  top: 10%;
  right: 30%; }

@media (min-width: 500px) {
  .shopping-cart {
    width: 6vw;
    height: 6vw; } }
.galleryStore {
  width: 80vw;
  margin: 0 auto; }

.galleryStore__title {
  text-align: center;
  font-family: cursive;
  font-size: 1.3em;
  color: #501e1e; }

.poster-image {
  width: 100%;
  height: 60vw;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 10px; }

.large-image {
  width: 84%;
  height: 54vw;
  margin: 0 auto;
  margin-left: 8%;
  margin-top: 10px;
  border-radius: 10px; }

.medium-image {
  width: 71%;
  height: 37vw;
  margin: 0 auto;
  margin-left: 14%;
  margin-top: 10px;
  border-radius: 10px; }

.small-image {
  width: 58%;
  height: 37vw;
  margin: 0 auto;
  margin-left: 21%;
  margin-top: 10px;
  border-radius: 10px; }

.galleryStore__description {
  text-align: center;
  font-family: "Futura";
  color: #1e1e1e; }

.image-size-panel {
  width: 100%;
  margin: 0 auto;
  margin-top: 10px; }

.image-size-panel__item {
  display: inline-block;
  width: 24%;
  height: 10vw;
  border: 1px solid white;
  border-radius: 10px;
  padding-top: 15px;
  text-align: center;
  background-color: #141414;
  color: white; }

.image-size-panel__item:hover {
  color: firebrick; }

.image-cost {
  text-align: center;
  font-family: "Verdana";
  font-size: 1.2em; }

.purchase-button {
  width: 30%;
  height: 10vw;
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px;
  padding-top: 3px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2%;
  background-color: #141414;
  color: white; }

.homeButton {
  width: 12%;
  height: 5vw;
  color: white;
  background-color: #323232;
  border: 1px solid white;
  padding: 1%;
  border-radius: 10px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 1%; }

@media (min-width: 500px) {
  .galleryStore {
    width: 50vw; }

  .poster-image {
    height: 30vw;
    width: 40vw;
    margin-left: 11%;
    margin-top: 2%; }

  .large-image {
    height: 26.4vw;
    width: 33.2vw;
    margin-left: 16.5%; }

  .medium-image {
    height: 18.3vw;
    width: 35.5vw;
    margin-left: 15%; }

  .small-image {
    height: 18.3vw;
    width: 29vw;
    margin-left: 20.5%; }

  .image-size-panel {
    width: 100%;
    margin: 0 auto;
    margin-top: 5px; }

  .image-size-panel__item {
    display: inline-block;
    width: 24.3%;
    height: 3vw;
    border: 1px solid white;
    border-radius: 10px;
    padding-top: 5px;
    text-align: center;
    background-color: #141414;
    color: white; }

  .galleryStore__title {
    text-align: center;
    font-family: cursive;
    font-size: 1.3em;
    color: #501e1e; }

  .item-cost {
    font-size: 0.8em; }

  .purchase-button {
    height: 5vw; }

  .homeButton {
    height: 3vw; } }
@media (min-width: 700px) {
  .galleryStore {
    width: 70vw;
    margin: 0 auto; }

  .poster-image {
    height: 52.5vw;
    width: 70vw;
    margin: 0 auto;
    margin-top: 10%; }

  .large-image {
    height: 46.48vw;
    width: 58.1vw;
    margin-left: 8%;
    margin-top: 10%; }

  .medium-image {
    height: 32.3vw;
    width: 49.7vw;
    margin-top: 10%;
    margin-left: 15.5%; }

  .small-image {
    height: 32.1vw;
    width: 40.6vw;
    margin-top: 10%;
    margin-left: 22%; }

  .image-size-panel {
    padding-top: 25px; }

  .purchase-button {
    height: 3vw;
    margin-top: 5%;
    padding-top: 10px; }

  .galleryStore__description {
    width: 80%;
    margin: 0 auto; }

  .homeButton {
    height: 1.6vw;
    padding: 1.6%; } }
@media (min-width: 700px) and (min-width: 980px) {
  .poster-image {
    width: 80%;
    height: 42.8vw;
    margin-left: 11%;
    margin-top: 5%; }

  .large-image {
    width: 67.2%;
    height: 37.63vw;
    margin-left: 17.5%;
    margin-top: 3%; }

  .medium-image {
    width: 56.8%;
    height: 26.39vw;
    margin-top: 10%;
    margin-left: 21%; }

  .small-image {
    width: 45.44%;
    height: 26.39vw;
    margin-top: 8%;
    margin-left: 27%; }

  .homeButton {
    height: 1.2vw;
    padding: 1.2%; } }
@media (min-width: 700px) and (min-width: 1100px) {
  .galleryStore {
    width: 50vw;
    margin: 0 auto; }

  .poster-image {
    height: 30vw;
    width: 40vw;
    margin-left: 11%;
    margin-top: 2%; }

  .large-image {
    height: 26.4vw;
    width: 33.2vw;
    margin-left: 16.5%; }

  .medium-image {
    height: 18.3vw;
    width: 35.5vw;
    margin-left: 15%; }

  .small-image {
    height: 18.3vw;
    width: 29vw;
    margin-left: 21%; }

  .image-size-panel {
    padding-top: 0;
    height: 5%;
    margin-top: 0; }

  .purchase-button {
    height: 2vw;
    margin-top: 3%;
    padding-top: 10px; }

  .galleryStore__description {
    width: 100%;
    margin: 0 auto; }

  .homeButton {
    width: 8%;
    height: 1vw;
    padding: 1%; } }
.carousel-title {
  position: absolute;
  z-index: 10;
  width: 50%;
  top: 10%;
  left: 25%;
  text-align: center;
  font-size: 1.5em;
  font-family: "Futura";
  color: #e6e6e6;
  border-radius: 10px;
  background-color: rgba(120, 120, 120, 0.7); }

@media (min-width: 768px) {
  .carousel-title {
    width: 40%;
    left: 30%;
    font-size: 2em; } }

/*# sourceMappingURL=styles.css.map */
